<label for="playlist_name">Title of Playlist:</label>
<input placeholder="Name of Playlist" type="text" id="playlist_name" name="playlist_name" />
<label for="spotify_uri">Spotify URI:</label>
<input placeholder="Paste Spotify URI Here" type="text" id="spotify_uri" name="spotify_uri" />
<label for="by_user">Your Name:</label>
<input placeholder="Enter Full Name" type="text" id="by_user" name="by_user" />