@import url('https://fonts.googleapis.com/css?family=Dosis|Montserrat');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Dosis', sans-serif;
*/

/* BEGIN index.ejs properties */
body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0 auto 0 auto;
    padding: 0 auto 0 auto;
    overflow: hidden;
    background-color: white;
}
button:active, button:focus {
    outline: 0;
}
div#mainView {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 7% 40% 5% 40% 7%;
    grid-template-rows: 10% 10% 75% 5%;
}
div#mainTitle {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
}
h1.mainTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 33pt;
    color: #84bd00;
    text-align: center;
    border: 1px solid white;
}
div#collectionTitle {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    color: white;
}
h1.leftPaneTitle {
    color: #84bd00;
    font-family: 'Dosis', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    margin: 30px auto 30px auto;
}
div#leftPane {
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    background-color: #84bd00;
    border: 4px solid black;
    overflow: auto;
    color: black;
}
div.playlistEntry {
    margin: 25px 180px 40px 180px;
}
p.playlistDetails {
    color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: justify;
    margin: 8px auto auto auto;
}
div#rightPane {
    grid-row: 3;
    grid-column: 4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border: 4px solid black; */
}
div.formButtons {
    margin: 50px auto 50px auto;
}
button.btn {
    width: 300px;
    height: 120px;
    margin: 10px auto 10px auto;
    border: 4px solid black;
}
a.buttonRUD {
    color: #84bd00;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
}
a.buttonRUD:hover {
    color: black;
    font-size: 26pt;
    transition: 0.7s;
}
button.btn:hover {
    color: black;
    border: 10px solid #84bd00;
    transition: 0.7s;
}
/* END index.ejs properties */

/* BEGIN createPlaylist.ejs properties */
